{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Workspace</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description|placeholder}}</td>
            </tr>
            <tr>
              <th scope="row">Tenant</th>
              <td>
                <a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">Starting Date</th>
              <td>{{ object.start_date }}</td>
            </tr>
            <tr>
              <th scope="row">End Date</th>
              <td>{{ object.end_date }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">Used Tags</h5>
        <div class="card-body">
          {% with url=object %}
            {% for tag in object.used_tags.all %}
              <a href="{{tag.get_absolute_url}}">{% tag tag %}</a>
            {% empty %}
              <span class="text-muted">No tags assigned</span>
            {% endfor %}
          {% endwith %}
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      <!--{% include 'inc/panels/tags.html' %}-->
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
