{% extends 'generic/object.html' %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Claim</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Reservation</th>
              <td>
                <a href="{{ object.reservation.get_absolute_url }}">{{ object.reservation }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">Tag</th>
              <td>
                {% if object.tag %}
                  <a href="{{ object.tag.get_absolute_url }}">{{ object.tag }}</a>
                {% else %}
                  {{ ''|placeholder }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Restriction</th>
              <td>{{ object.get_restriction_display }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description|placeholder }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      <!--{% include 'inc/panels/comments.html' %}-->
    </div>
  </div>
{% endblock content %}
