{% extends 'base/layout.html' %}
  {% block title %}
    Test
  {% endblock %}
  {% block content %}

  <div class="tab-content">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Tenant</th>
              <th scope="col">Contact</th>
              <th scope="col">Status</th>
              <th scope="col">Start</th>
              <th scope="col">End</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for datapacket in data %}
              <tr>
                <td>
                  <a href="{{datapacket.reservation.get_absolute_url}}">
                    <h6>{{datapacket.reservation.name}}</h6>
                  </a>
                </td>
                <td>
                  <a href="{{datapacket.reservation.tenant.get_absolute_url}}">
                    {{datapacket.reservation.tenant}}
                  </a>
                </td>
                <td>
                  <a href="{{datapacket.reservation.contact.get_absolute_url}}">
                    {{datapacket.reservation.contact}}
                  </a>
                </td>
                <td>
                  {{datapacket.reservation.status}}
                </td>
                <td>
                  {{datapacket.reservation.start_date}}
                </td>
                <td>
                  {{datapacket.reservation.end_date}}
                </td>
              </tr>
              <tr>
                <td colspan="6">
                  <table class="table table-borderless mb-0">
                    <thead>
                      <tr>
                        <th style="width: 5%" scope="col">ID</th>
                        <th scope="col">Tag</th>
                        <th style="width: 20%" scope="col">Restriction</th>
                      </tr>
                    </thead>
                    <tbody class="">
                      {% for claim in datapacket.claims %}
                        <tr>
                          <td>
                            <a href="{{claim.get_absolute_url}}">
                              {{claim.id}}
                            </a>
                          </td>
                          <td>
                            <span class="badge" style="color: {{ claim.tag.color|fgcolor }}; background-color: #{{claim.tag.color }}">
                              <a href="{{ claim.tag.get_absolute_url }}">{{ claim.tag }}</a>
                            </span>
                          </td>
                          <td>
                            {{claim.restriction}}
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endblock %}
